h1{
    text-align: center;
}

.nav {
    position:absolute;
    top:0;
    right:0;
}

.entry  { 
    padding-top: 80px;
    display: table;  
    align-items: center;    
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.entry p     { display: table-row;  }
.entry label { display: table-cell; }
.entry input { 
    display: table-cell; 
    margin: 10px;
}

.result_header {
    padding-top: 80px;
    display: flex;  
    align-items: center;    
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.result_container {
    display: table;  
    align-items: center;    
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.result {
    display: flex;
    border-radius: 5px;
    padding: 20px;
    margin-top: 15px;
    background-color: lightgray;
}

.dropdown {
    display: inline-block;
}

.dropdown input {
    border-radius: 5px;
}
